{% load static %}
<!Doctype html>
<html>
{% include "head.html" %}

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col">
                <br />
                

                {%for t in test%}

                <br />
                <br />
                <form action="userdecryption" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Load a encrypted Image  </label>
                        <img src="{% static '' %}{{t.encryimg}}" name="stignoimg" class="img-thumbnail" />
                    
                    </div>
                       <div class="form-group">
                       <label>Image Name  </label>
                       
                        <input class="form-control"  type="text"  value="{{t.encryimg}}" disabled >
                        <input type="text" name="stignoimg" value="{{t.encryimg}}" hidden>
                        </div>
                        <div class="form-group">
                          
                           <input type="text" name="p_id" value="{{t.id}}" hidden>
                           </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Please select the same cryptographic technique which is used for encryption : </label>
                        <select class="custom-select mr-sm-2" id="customCryptoSelect" name="cryptographic_algorithm" required>
                            <option value="" selected>--Please Select --</option>

                            <option value="{{t.sensitivity}}" >{{t.sensitivity}}</option>

                        </select>
                    </div>


                     <div class="form-group">
 <div class="input-group md-form form-sm form-2 pl-0" id="ceasar_input" hidden >
  <label  class="form-control" > secret key : {{t.secret_key}}</label>
 
  <input class="form-control my-0 py-1 red-border" id="ceaser_inputdox" name='secret_key'  type="number" min="1" max="125"  placeholder='Secret key' aria-label="Search">
  
  <div class="input-group-append">
    <button href='test' class="input-group-text red lighten-3" ><img src="{% static 'img/key_img.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="" /></span>
    
  </div>
  
</div>
 <div class="input-group md-form form-sm form-2 pl-0" id="des_input" hidden >
  <label  class="form-control" > secret key : {{t.secret_key}}</label>
 
  <input class="form-control my-0 py-1 red-border" id='des_inputdox' name='secret_key_des'  type="number" min="10000000" max="99999999" placeholder='Secret key' aria-label="Search" >
  
  
  <div class="input-group-append">
    <button href='test' class="input-group-text red lighten-3" ><img src="{% static 'img/golden_key.png' %}" width="25" height="25" class="d-inline-block align-top" alt="" /></span>   
  </div>
  
</div>
<div class="input-group md-form form-2 pl-0" id="aes_input" hidden >
 <!-- <label  class="form-control" > secret key : {{t.secret_key}}</label> -->
 
  <input class="form-control " id='aes_inputdox' value="{{t.secret_key}}" name='secret_key_aes'  type="text" placeholder='Secret key' aria-label="Search" >
  
  
  <div class="input-group-append">
    <button  class="input-group-text red lighten-3" ><img src="{% static 'img/golden_key.png' %}" width="25" height="25" class="d-inline-block align-top" alt="" /></span>   
  </div>
  
</div>

<small style="color:#0096c7;" id='key_text_ceaser' hidden>Please enter the correct used key to obtanin secret message </small>
<small style="color:#FFD700;" id='key_text_des'hidden>Please enter the correct used key to obtanin secret message, key must contain 8 numbers  </small>
<small  style="color:#80b918;" id='key_text_aes'hidden>Please enter the correct used key to obtanin secret message  </small>

  </div>





                    <button type="submit" class="btn btn-primary">Decrypt</button>

                </form>

                {%endfor%}
            </div>

            <div class="col">

            </div>


        </div>
    </div>


</body>



</html>




<script>
document.getElementById('customCryptoSelect').onchange = function () {
  document.getElementById("ceasar_input").hidden = (this.value != 'ceasar_encrypt');
  document.getElementById("ceaser_inputdox").required = (this.value == 'ceasar_encrypt');
  document.getElementById("des_input").hidden = (this.value != 'des');
  document.getElementById("aes_input").hidden = (this.value != 'aes');
  
  document.getElementById("key_text_ceaser").hidden = (this.value != 'ceasar_encrypt');
  document.getElementById("key_text_des").hidden = (this.value != 'des');

  document.getElementById("ceaser_inputdox").required = (this.value == 'ceasar_encrypt');
  document.getElementById("des_inputdox").required = (this.value == 'des');
  document.getElementById("aes_inputdox").required = (this.value == 'des');
}
</script>

